################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Caching/obj
/Caching/obj
/DAL/obj
/Entities/obj
/Utilities/obj
/Utilities/bin
/Utilities/bin
/Repositories/obj
/WEB.CMS/obj
/DAL/bin
/Caching/bin
/Repositories/bin
/Entities/bin
/WEB.CMS/bin
